# Dependencies
node_modules/
*/node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.test

# Next.js build output
.next/
*/.next/
out/
*/out/
build/
*/build/

# Binaries
bin/
*/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# Go workspace
go.work

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*
!.env.example

# Cache
.npm/
.eslintcache
